
.container {  
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    border:10px solid yellow;
    margin:auto;
    height: 200px;
    width: auto;
}
.item {
    background-color: #66ccff;
    border:5px solid #0f3d3d;
}
.item + .item {
    margin-left: 5%;
}
#item2 {
    flex-grow: 1;
}